version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    restart: always
    environment:
      - NODE_ENV=production
    volumes:
      - survey_data:/app/public/data

volumes:
  survey_data: