/* Crimson Pro */
@font-face { font-family: 'Crimson Pro'; font-style: normal; font-weight: 400; font-display: swap; src: url('./CrimsonPro-Regular.woff2') format('woff2'); }
@font-face { font-family: 'Crimson Pro'; font-style: italic; font-weight: 400; font-display: swap; src: url('./CrimsonPro-Italic.woff2') format('woff2'); }
@font-face { font-family: 'Crimson Pro'; font-style: normal; font-weight: 500; font-display: swap; src: url('./CrimsonPro-Medium.woff2') format('woff2'); }
@font-face { font-family: 'Crimson Pro'; font-style: normal; font-weight: 700; font-display: swap; src: url('./CrimsonPro-Bold.woff2') format('woff2'); }
