/* Literata */
@font-face { font-family: 'Literata'; font-style: normal; font-weight: 400; font-display: swap; src: url('./Literata-Regular.woff2') format('woff2'); }
@font-face { font-family: 'Literata'; font-style: italic; font-weight: 400; font-display: swap; src: url('./Literata-Italic.woff2') format('woff2'); }
@font-face { font-family: 'Literata'; font-style: normal; font-weight: 500; font-display: swap; src: url('./Literata-Medium.woff2') format('woff2'); }
@font-face { font-family: 'Literata'; font-style: normal; font-weight: 700; font-display: swap; src: url('./Literata-Bold.woff2') format('woff2'); }
